# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
!terraform.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Backend config
backend.config
*.backend

# Local files
.DS_Store
