name: PR Validation

on:
  pull_request:
    branches:
      - main

jobs:
  validate:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Run Node Tests
        uses: ./.github/actions/node-test
